{{ define "card" }}
<div class="job-card">
	<div class="container">
		<div class="job-card-header">
			<h2><a href="{{ .Link }}">{{ .Title }} | {{ .Company }}</a></h2>
			<span class="source">{{ .Source }}</span>
		</div>

		<div class="posted">
			<h2 class="age"> {{ .Age }} </h2>
			<h2 class="date"> {{ .Date }} </h2>
		</div>
	</div>

	{{ with .Location }}<p><strong>Location:</strong> {{ . }}</p>{{ end }}
	{{ with .JobType }}<p><strong>Job Type:</strong> {{ . }}</p>{{ end }}
</div>
{{ end }}

{{ define "jobs" }}
<ul
	id="job-list"
	hx-swap="afterbegin"
	hx-ext="sse"
	sse-connect="/jobs"
	sse-swap="foundJobs"
	sse-close="done"
></ul>

<div
	id="jobs-failed"
	hx-ext="sse"
	sse-connect="/jobs"
	sse-swap="renderFailed"
	sse-close="done"
></div>
{{ end }}
