{{ define "card" }}
<div class="job-card">
	<h2><a href="{{ .Link }}">{{ .Title }}</a></h2>
	{{ with .Location }}<p><strong>Location:</strong> {{ . }}</p>{{ end }}
	{{ with .Company }}<p><strong>Company:</strong> {{ . }}</p>{{ end }}
	{{ with .Kind }}<p><strong>Kind:</strong> {{ . }}</p>{{ end }}
	{{ with .Date }}<p><strong>Date:</strong> {{ . }}</p>{{ end }}
</div>
{{ end }}

{{ define "jobs" }}
<div
	id="job-list"
	hx-swap="afterbegin"
	hx-ext="sse"

	sse-connect="/jobs"
	sse-swap="foundJobs"
	sse-close="done"
>
</div>
{{ end }}
